.App {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100vw;
  min-height: 100vh;
  background-color: #2a2c35;
  color: #2a2c35;
}

.main-wrapper {
  padding: 30px;
  border: 3px solid #6fe2fb;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.buttons-wrapper {
  width: 294px;
  height: 70px;
  border: 3px solid #6fe2fb;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.button {
  border-radius: 10px;
  background-color: #8edff7;
  border: none;
  cursor: pointer;
  padding: 5px 15px;

  font-size: 30px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

}


.button:active {
  transform: scale(90%);
}

.button:disabled {
  background-color: #497486;
  color: #2a2c35;
  transform: none;
  cursor: not-allowed;
}

.button-setting {
  margin-left: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.number-bord {
  width: 300px;
  height: 200px;
  background-color: #6fe2fb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 100px;
  font-weight: bold;
}

.number-bord_error {
  color: red;
}

.setting-board {
  width: 294px;
  height: 194px;
  color: #6fe2fb;
  border-radius: 10px;
  border: 3px solid #6fe2fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  font-weight: bold;
}